<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
    <!--Mobile optimization-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo Area</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="nav-tabs active"><a href="/"><b>HOME</b></a></li>
          <li class="nav-tabs"><a href="/about"><b>ABOUT US</b></a></li>
          <li class="nav-tabs"><a href="/movies"><b>MOVIES</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>TV SHOWS</b></a></li>
          <li class="nav-tabs"><a class="modal-trigger waves-effect waves-light" href="#modal1"><b>CONTACT US</b></a></li>
          <li class="nav-tabs"><a><b>SUBSCRIBE!</b></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li class="nav-tabs active"><a href="/"><b>HOME</b></a></li>
          <li class="nav-tabs"><a href="/about"><b>ABOUT US</b></a></li>
          <li class="nav-tabs"><a href="/movies"><b>MOVIES</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>TV SHOWS</b></a></li>
          <li class="nav-tabs"><a class="modal-trigger waves-effect waves-light" href="#modal1"><b>CONTACT US</b></a></li>
          <li class="nav-tabs"><b>SUBSCRIBE!</b></li>
        </ul>
      </div>
    </nav>
  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content cover">
      <br>
      <br>
      <div id="why" class="scrollbar style-3">
      <p>At first glance, it would seem like we aren’t doing anything new. This could be another
        site giving you our weekly dose of movie reviews which could help you decide what would
        you spend your weekend watching. This website would definitely do that, provide an easily
        digestible meal which would satiate those who see films and television as a source of
        entertainment, which they essentially are. But rather than being a one sided exercise,
        what we want to do here is to establish a discourse, with those who live and breath,
        cinema and television. It would be an attempt to engage like minded people in a
        discussion which works on one assumption, that cinema is a form of art, those which draw
        inspiration from all other, and thus they warrant a discussion which is, for the lack of
        a better word,  profound.
         <br><br>
         We might fail in our attempts but we promise to keep trying. We are the DesiCinephiles. </p>
       </div>
    </div>
  </div>
    <aside id="sticky-social">
      <ul>
          <li><a href="#" class="entypo-facebook" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
          <li><a href="#" class="entypo-twitter" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
          <li><a href="#" class="entypo-instagrem" target="_blank"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
        </ul>
    </aside>
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content" id="contact">
          <h4>Contact Us</h4>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="name" type="text" class="validate">
                  <label for="name">Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6 l6">
                  <i class="material-icons prefix">email</i>
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12 m6 l6">
                  <i class="material-icons prefix">phone</i>
                  <input id="mobileNo" type="number" class="validate">
                  <label for="mobileNo">Telephone</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <input id="subject" type="text" class="validate">
                  <label for="subject">Subject</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <textarea id="message" class="materialize-textarea"></textarea>
                  <label for="message">Textarea</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">SUBMIT</a>
        </div>
    </div>
    <div class="container">
      <!-- <a class="waves-effect waves-light btn" href="#modal2">View Cover</a> -->
    <div class="carousel carousel-slider center" data-indicators="true" id="home-carousel">
      <div class="carousel-item red white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
      </div>
      <div class="carousel-item amber white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
      </div>
      <div class="carousel-item green white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
      </div>
      <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
      </div>
      <div class="carousel-item purple white-text" href="#five!">
        <h2>Fifth Panel</h2>
        <p class="white-text">This is your fifth panel</p>
      </div>
    </div>
    <br>
    <h3> LATEST REVIEWS </h3>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l3 m4 offset-2 s12">
            <h5 class="white-text">Navigation</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="/home">Home</a></li>
              <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
              <li><a class="grey-text text-lighten-3" href="/movies">Movies</a></li>
              <li><a class="grey-text text-lighten-3" href="/tvShows">TV Shows</a></li>
            </ul>
          </div>
          <div class="col l3 m4 offset-2 s12">
            <h5 class="white-text">Contributors</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#">Umang</a></li>
              <li><a class="grey-text text-lighten-3" href="#">Parth</a></li>
              <li><a class="grey-text text-lighten-3" href="#">Name</a></li>
              <li><a class="grey-text text-lighten-3" href="#">Name</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 DesiCinephiles
        <a class="grey-text text-lighten-4 right" href="#modal1">CONTACT US</a>
        </div>
      </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.modal').modal();
        setTimeout(function(){
          $('#modal2').modal('open');
          }, 2000);
        $('.carousel.carousel-slider').carousel({fullWidth: true,duration: 300});
        autoplay();
        function autoplay() {
          $('.carousel').carousel('next');
          setTimeout(autoplay, 4500);
        }
      });
    </script>
  </body>
</html>
