<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
    <!--Mobile optimization-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="nav-tabs active"><a href="/home"><b>HOME</b></a></li>
          <li class="nav-tabs"><a href="/about"><b>ABOUT</b></a></li>
          <li class="nav-tabs"><a href="/movies"><b>MOVIES</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>TV SHOWS</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>CRITIC</b></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li class="nav-tabs active"><a href="/home"><b>HOME</b></a></li>
          <li class="nav-tabs"><a href="/about"><b>ABOUT</b></a></li>
          <li class="nav-tabs"><a href="/movies"><b>MOVIES</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>TV SHOWS</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>CRITIC</b></a></li>
        </ul>
      </div>
    </nav>
    <div class="carousel carousel-slider center" data-indicators="true" id="home-carousel">
      <div class="carousel-item red white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
      </div>
      <div class="carousel-item amber white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
      </div>
      <div class="carousel-item green white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
      </div>
      <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
      </div>
      <div class="carousel-item purple white-text" href="#five!">
        <h2>Fifth Panel</h2>
        <p class="white-text">This is your fifth panel</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l6">
        <h4 class="header">Horizontal Card</h4>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
                  I am a very simple card. I am good at containing small bits of information.
                  I am a very simple card. I am good at containing small bits of information.
              </p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l6">
        <h4 class="header">Horizontal Card</h4>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
                  I am a very simple card. I am good at containing small bits of information.
                  I am a very simple card. I am good at containing small bits of information.
              </p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.carousel.carousel-slider').carousel({fullWidth: true,duration: 300});
        autoplay();
        function autoplay() {
          $('.carousel').carousel('next');
          setTimeout(autoplay, 4500);
        }
      });
    </script>
  </body>
</html>
