<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
    <!--Mobile optimization-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/movie.css' />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo Area</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="nav-tabs"><a href="/"><b>HOME</b></a></li>
          <li class="nav-tabs"><a href="/about"><b>ABOUT US</b></a></li>
          <li class="nav-tabs active"><a href="/movies"><b>MOVIES</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>TV SHOWS</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>CONTACT US</b></a></li>
          <li class="nav-tabs"><a><b>LOGIN / SIGN UP</b></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li class="nav-tabs"><a href="/"><b>HOME</b></a></li>
          <li class="nav-tabs"><a href="/about"><b>ABOUT US</b></a></li>
          <li class="nav-tabs active"><a href="/movies"><b>MOVIES</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>TV SHOWS</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>CONTACT US</b></a></li>
          <li class="nav-tabs"><b>LOGIN / SIGN UP</b></li>
        </ul>
      </div>
    </nav>
    <aside id="sticky-social">
    <ul>
        <li><a href="#" class="entypo-facebook" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
        <li><a href="#" class="entypo-twitter" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
        <li><a href="#" class="entypo-instagrem" target="_blank"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
    </ul>
  </aside>
  <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content" id="contact">
        <h4>Contact Us</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="fName" type="text" class="validate">
                <label for="fName">First Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="lName" type="text" class="validate">
                <label for="lName">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="mobileNo" type="number" class="validate">
                <label for="mobileNo">Telephone</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="subject" type="text" class="validate">
                <label for="subject">Subject</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <textarea id="message" class="materialize-textarea"></textarea>
                <label for="message">Textarea</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">SUBMIT</a>
      </div>
  </div>

  <br>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l4 movieTab scrollbar style-3">
        <h4>LATEST <i class="small material-icons">new_releases</i></h4>
        <br>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <p><a>LOAD MORE</a></p>
      </div>
      <div class="col s12 m12 l4 movieTab scrollbar style-3">
        <h4>HIGHLY RATED <i class="small material-icons">verified_user</i></h4>
        <br>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <p><a>LOAD MORE</a></p>
      </div>
      <div class="col s12 m12 l4 movieTab scrollbar style-3">
        <h4>TRENDING  <i class="small material-icons">trending_up</i></h4>
        <br>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.modal').modal();
      });
    </script>
  </body>
</html>
