#home-carousel{
  margin-top: 8vh !important;
  height: 300px!important;
  min-height: 300px!important;
}
#modal2{
  background: #00ff00 url("../images/cover.jpg") no-repeat no-repeat center;
  z-index: 200;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  width: 75%;
  height: 85%;
  max-height: 100%;
  font-family: 'Ranga', cursive;
  font-size: 22px;
  color: black;
  text-align: justify;
}
@media only screen and (max-width: 768px) {
  #modal2 {
    font-size: 16px;
  }
}
#why{
  max-height: 50vh;
  overflow: auto;
  background-color: transparent;
}
