#home-carousel{
  margin-top: 8vh !important;
  height: 300px!important;
  min-height: 300px!important;
}
#modal2{
  background: #00ff00 url("../images/cover.jpg") no-repeat no-repeat center;
  z-index: 200;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  width: 90%;
  height: 80%;
  max-height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: black;
  text-align: justify;
}
