#home-carousel{
  margin-top: 0vh !important;
  margin-left: 0cm !important;
  min-height: 100vh!important;
}


#why{
  max-height: 50vh;
  overflow: auto;
  background-color: transparent;
}
.oneLiner {
  margin-top: 80vh;
  z-index: 100;

  color: #FFD700;
  font-size: 24px;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  #modal2 {
    font-size: 16px;
  }
  #home-carousel{
    min-height: 45vh !important;
  }
  .oneLiner{
    margin-top: 20vh !important;
    }
    .carousel.carousel-slider .carousel-item{
      min-height: 0px;
    }
}
