#home-carousel{
  margin-top: 8vh !important;
  min-height: 50vh!important;
}
#modal2{
  background: #00ff00 url("../images/cover.jpg") no-repeat no-repeat center;
  z-index: 200;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  width: 75%;
  height: 85%;
  max-height: 100%;
  font-family: 'Ranga', cursive;
  font-size: 22px;
  color: black;
  text-align: justify;
}
#why{
  max-height: 50vh;
  overflow: auto;
  background-color: transparent;
}
.oneLiner {
  margin-top: 40vh;
}
@media only screen and (max-width: 768px) {
  #modal2 {
    font-size: 16px;
  }
  #home-carousel{
    min-height: 45vh !important;
  }
  .oneLiner{
    margin-top: 20vh !important;
    }
    .carousel.carousel-slider .carousel-item{
      min-height: 0px;
    }
}
