#mainPic{
  height: 400px!important;
  min-height: 350px!important;
  width: 100%;
  z-index: -2;
  position: relative;
}
.rating{
  padding: 10px;
}
body{
  background-color: #14181c;
  color: #a5d2fb;
}
.exContainer{
  width: 75vw;
  margin-left: 12.5vw;
  text-align: center;
  box-shadow: inset 0px 0px 20px 20px rgba(20,24,28,0.9);
  min-height: 400px;
  min-width: 80%;
}
.container{
  width: 70vw;
}
