#mainPic{
  height: 400px!important;
  min-height: 350px!important;
  width: 100%;
  z-index: -2;
  position: relative;
}
.rating{
  padding: 10px;
}
body{
  background-color: #14181c;
  color: #a5d2fb;
}
.exContainer{
  width: 85vw;
  margin-left: 7.5vw;
  text-align: center;
  box-shadow: inset 0px 0px 10px 10px rgba(20,24,28,0.9);
}
.container{
  width: 80vw;
}
